div .skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

/*
.skill-row h3, .skill-row p {
    text-align: left;
}*/

.top-container {
  background-color: #e4f9f5;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 0;
  padding: 51px 0 30px 0;
  color: #11999E;
}

.profile, .skills, .contact-me {
  margin: 80px 0;
}

.contact-me {
  line-height: 3;
  margin-bottom:40px;
}

.web-img {
  margin-right: 30px;
  float: left;
}

.wkt-img {
  margin-left: 30px;
  float: right;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain {
  position: relative;
}

.copyright {
  color: #EAF6F6;
  font-weight: normal;
  line-height: 5;
  font-size: 0.75rem;
}

.bottom-container a {
  margin: 10px 20px;
  text-decoration: none;
}

.bottom-container a:hover {
  color: #EAF6F6;
}

.profile img:first-child {
  border-radius: 100%;
}

.skill-row img {
  width: 25%;
}

body {
  margin: 0;
  text-align:center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 4.5rem;
  margin: 50px auto 0 auto;
  font-family: 'Kotta One', serif;
  color: #66bfbf;
}

h2 {
  color: #66bfbf;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
}

h3, a {
  color: #11999E;
}

.profile p {
  width: 30%;
  margin: 0 auto;
}

hr {
  width: 4%;
  border: dotted #AAA 6px;
  border-bottom: none;
  margin: 100px auto;
}

p {
  color: #40514E;
  font-weight: bolder;
  line-height: 2;
}

.contact-me p {
  width:40%;
  margin: 0 auto;
}


/*------------------- button style -------------------------*/
.btn {
  line-height: 7;
  background: #3498db;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
